<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <label for="name">Color:</label>
    <input type="text" name="txtColor" value="{{message}}"/>
    <label for="name">Object:</label>
    <input type="text" name="txtObject" value="{{obj}}"/>
    <label for="name">Count:</label>
    <input type="text" name="txtCount" value="{{count}}"/>
    <img src="{{up_img}}" alt="result" width="300" height="300">
</body>
</html>